body {
  margin: 0;
  background-color: white;
  font-family: "Inter", sans-serif;
  color: #111827;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Syne", sans-serif;
  font-weight: 700;
}

* {
  box-sizing: border-box;
}
